// Grab foundation default settings.
@import "util/settings_foundation_defaults";

//
// Variables for use in any Sass file.
//
// In this file we have our Foundatoin overrides and sass variables
//

//
// Legacy IE support
//
// These variables are used by many mixins to add additional CSS to support
// specific versions of IE or specific vendor prefixes.
//
// To turn on support for IE6 or IE7, set those variables to true.
//
// @see http://compass-style.org/reference/compass/support/
//
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;

//
// Font faces, stacks and sizes.
//

// The following font family declarations are based on the Microsoft core web
// fonts which are common fonts available on most computer systems. The DejaVu
// and Nimbus Sans fonts are commonly available on Linux systems where the MS
// fonts are less common. Tahoma and Helvetica are also widely available.
$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;

$verdana:         Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma:          Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica:       "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
$arial:           Arial, Helvetica, "Nimbus Sans L", sans-serif;
$courier:         "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
$mono:            Consolas, 'Liberation Mono', Courier, monospace;

$sans-serif:  $helvetica;
$serif:       $georgia;

$base-font-family:         $sans-serif;
$base-header-font-family:  $serif;
$font-monospace:           $mono;

//
// Colors defs.
//

$medium-grey:           #dddddd;
$dark-grey:             #222222;
$white:                 #FFFFFF;
$black:                 #000000;

$foundation-blue:       #2ba6cb;
$foundation-red:        #c60f13;
$foundation-green:      #5da423;
$foundation-tint:       #e9e9e9;

$primary-text-color:    $medium-grey;
$page-color:            $white;


//
// Foundation overrides.
//

// Globals
$em-base: $base-font-size;
$block-grid-media-queries: false;

// Grid config.
$row-width: emCalc(1200px);
$column-gutter: emCalc(30px);
$total-columns: 12;



//
// Bedrock settings.
//

// ??

//
// Partials to be shared with all .scss files.
//

// Add Compass' IE and vendor prefix support variables.
@import "compass/support";

// Better than Drupal's clearfix.
@import "compass/utilities/general/clearfix";

// See http://compass-style.org/help/tutorials/spriting/
@import "compass/utilities/sprites";

// Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/css3";

// Import our mixins and extendables.
@import "custom"
